<launch>

  <!-- Start fccl controller for left arm -->
  <node pkg="fccl_nodes" type="single_arm_controller" name="l_arm_fccl_controller" output="screen">
    <remap from="~qdot" to="/l_arm_vel/command"/>
    <remap from="joint_state" to="/joint_states"/>
    <remap from="~joint_state" to="/joint_states"/>
  </node>

  <!-- Start fccl controller for right arm -->
  <node pkg="fccl_nodes" type="single_arm_controller" name="r_arm_fccl_controller" output="screen">
    <remap from="~qdot" to="/r_arm_vel/command"/>
    <remap from="joint_state" to="/joint_states"/>
    <remap from="~joint_state" to="/joint_states"/>
  </node>

</launch>
